.preloader {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #545050;
  transition: opacity 0.3s ease; 
  z-index: 1000;
}

.preloader-chasing-squares {
  width: 50px;
  height: 50px;
  line-height: 19px;
}

.preloader-chasing-squares .square {
  display: inline-block;
  width: 15px;
  height: 15px;
  opacity: 1;
  background: #fff;
  animation: focusfade 2.8s infinite;
}

.preloader-chasing-squares .square:nth-child(2) {
  animation-delay: 0.7s;
}

.preloader-chasing-squares .square:nth-child(3) {
  animation-delay: 2.1s;
}

.preloader-chasing-squares .square:nth-child(4) {
  animation-delay: 1.4s;
}

@keyframes focusfade {
  0% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  
  30% {
    opacity: 0.7;
    transform: scale(1);
  }
  
  60% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  
  75% {
    opacity: 0.2;
    transform: scale(0.85);
  }
  
  100% {
    opacity: 0.3;
    transform: scale(0.9);
  }
}
